body {
background-image: url("https://images3.pixlis.com/background-image-angled-lines-and-stripes-seamless-tileable-gold-tips-royal-blue-22zscr.png");
background-attachment: fixed;
background-size: cover;
}
p {
font-family: "Comic Sans MS";
color: Black;
font-size: 30px
}
h1 {
font-size: 75px;
font-family: 'Arial';
color: White;
}
ul {
list-style: none;
}

footer p{
color: LightSlateGray;
font-family:'Century Gothic', 'Sans-serif';
font-size: 15px;
}
h2{
font-size: 75px;
color: Goldenrod;;
} 
img {
display: block;
margin: auto;
}
