body {
background-image: url("https://images3.pixlis.com/background-image-angled-lines-and-stripes-seamless-tileable-gold-tips-royal-blue-22zscr.png");
background-attachment: fixed;
background-size: cover;
}
p {
font-family: "Comic Sans MS";
color: Black;
font-size: 30px
}
h1 {
font-size: 74px;
font-family: 'Arial';
color: White;
}
ul {
list-style: none;
}

footer p{
color: LightSlateGray;
font-family:'Century Gothic', 'Sans-serif';
font-size: 15px;
}
h2{
font-size: 75px;
color: Goldenrod;;
} 
img {
display: block;
margin: auto;
}
nav ul {
font-family:'Century Gothic', 'Arial', 'Sans-Serif';
padding: 0px;
list-style: none;
font-weight: bold;
font-size: 25px;
word-spacing: 2em;
}

nav ul li {
    display: inline;
    text-align: center;
    color: White;
    margin: 20px auto 40px;
}

a {
color: White;
}
