body {
background-image: url("http://wallpapercave.com/wp/0JydX3Y.jpg");
background-attachment: fixed;
background-size: cover;
}
p {
font-family: "Comic Sans MS";
color: Indigo;
font-size: 30px
}
h1 {
font-size: 75px;
font-family: 'Arial';
color: White;
}
ul {
list-style: none;
}
footer{
font-family: 'Century Gothic', 'Sans-serif';
font-size: 10px;
}
footer p{
color: LightSlateGray;
}
h2{
font-size: 75px;
color: Goldenrod;;
} 
