.nav ul {
	font-size: 20px;
	margin: 0;
	padding: 0;
	word-spacing: 2em;
}

.nav ul li {
	list-style-type: none;
	display: inline;
	margin: center;
	text-align: center;
	color: black;
}

.nav li a:hover {
	background-color: blue;
	color: white;
}
