nav ul {
	list-style: none;
	font-size: 20px;
	margin: 0;
	padding: 0;
	word-spacing: 2em;
}

nav ul li {
	display: inline;
	margin: center;
	text-align: center;
	color: black;
}

nav a {
	float: right;
	color: black;
	text-align: center;
	font-size: 18px;
}

nav li a:hover {
	background-color: blue;
	color: white;
}
