body {
	margin: 60px auto;
	width: 70%;
	background-size: cover;
	bavkground-attatchment: fixed;
}

div.nav ul li {
	font-size: 20px;
	margin: 0;
	padding: 0;
	word-spacing: 2em;
	list-style-type: none;
	display: inline;
	margin: center;
	text-align: center;
	color: black;
}

.nav li a:hover {
	background-color: blue;
	color: white;
}

div.login h1 {
	text-align: center;
}

div.login th {
	text-align: center;
}

div.login tr {
	text-align: center;
}
