body {
background-image: url("https://images3.pixlis.com/background-image-angled-lines-and-stripes-seamless-tileable-gold-tips-royal-blue-22zscr.png");
background-size: cover;
background-attachment: fixed;
}
h1{
color: DarkBlue;
  font-size: 75px;
}
h2 {
color: MidnightBlue;
font-size: 70px;
text-align: center;
}
th{
font:"Helvetica";
background-color: Blue;
color: goldenrod;
font-size: 50px;
}
td {
font: 'Arial';
background-color: goldenrod;
color:Darkblue;
font-size: 50px;  
}
a {
color: White;
text-decoration: underline;
}
nav ul {
list-style: none;
font-family:'Century Gothic', 'Arial', 'Sans-Serif';
font-weight: bold;
font-size: 25px;
word-spacing: 2em;
padding: 0px;
}
nav ul li {
    display: inline;
    text-align: center;
    color: White;
}
table{
margin:auto;
}
div.table2 th{
background-color: Ivory;
color: MidnightBlue;
}
div.table2 td {
background-color: MidnightBlue;
color:Ivory;
}
