body {
background-image: url("https://images3.pixlis.com/background-image-angled-lines-and-stripes-seamless-tileable-gold-tips-royal-blue-22zscr.png");
background-size: cover;
background-attachment: fixed;
}
h1{
color: DarkBlue;
  font-size: 75px;
}
h2 {
color: MidnightBlue;
font-size: 70px;
}
th{
font:"Helvetica";
background-color: Blue;
color: goldenrod;
font-size: 50px;
}
td {
font: 'Arial';
background-color: goldenrod;
color:Darkblue;
font-size: 50px;  
}
